.container-filters{
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    z-index: 1;
    background-color: var(--brand-back);
    gap: 1.5vw;
}
.filter-search{
    background-color: var(--vanish);
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.filter-data{
    background-color: var(--vanish);
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}
.filter-instancia{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.filter-button-atualizar{
    background-color:  var(--brand1);
    color: var(--vanish);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.countainer-select-charts{
    margin-right: 20px ;
}

#select-charts{
    background-color:  var(--brand1);
    color: var(--vanish);
    margin-right: 20px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
}
.troca{

    background-color:  var(--brand1);
    color: var(--vanish);
    margin-right: 2px;
    width: 80px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
}